body {
  background-color: white;
  font-family: 'Avenir Next', sans-serif;
  color: #25253B;

  animation-name: pulse;
  animation-duration: 30s;
  animation-timing-function: cubic-bezier(.3,.53,.99,.76);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #FF6565;
  font-weight: bold;
  display: inline-block;
}
p{
  line-height: 1.678em;
}
#mainitems{
  padding-bottom: 50px;
}
.mainheader{
  width: 100%;
  height: 100vh;
  animation: fadeInTop .6s;
}
.mainheader__nav{
  width: 100%;
  display: flex;
  padding: 30px 50px;
  justify-content: space-between;
}
.mainheader__nav__li{
  display: inline;
}
.mainheader__nav__li a{
  text-decoration: none;
  color: #25253B;
  transition: transform .1s cubic-bezier(.3,.53,.99,.76);
}
.mainheader__nav__li a:hover{
  transform: scale(1.1);
}
.mainheader__nav__li--logo a{
  text-transform: uppercase;
  font-weight: bold;
}

.mainheader__title{
  position: absolute;
  left: 150px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4em;
}
.mainheader__title--change{
  border-bottom: 4px solid #25253B;
}

.mainheader__scrollbtn{
  position: absolute;
  display: flex;
  align-items: center;
  left: 50%;
  bottom: 50px;
  opacity: .5;
  transform: translateX(-50%) scale(1);
  color: #000;
  cursor: pointer;
  transition: transform .2s cubic-bezier(.3,.53,.99,.76);
  transform-origin: center;
}
.mainheader__scrollbtn:hover{
  transform: translateX(-50%) scale(1.2);
}
.mainheader__scrollbtn__svg{
  width: 40px;
  margin-right: 10px;
  top: -2px
}

.mainarticle{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  animation: fadeIn .6s;
}

.otherarticles{
  padding: 40px;
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.otherarticles__header{
  text-align: center;
  width: 100%;
  padding: 60px 40px;
  font-size: 1.5em;
  background: white;
  animation: fadeIn .6s;
}


.mainarticle--half{
  width: 49%;
  margin-top: 2%;
  float: left;
  transition: .2s cubic-bezier(.3,.53,.99,.76);
}
.mainarticle--half:hover{
  box-shadow: 0 10px 10px rgba(50,50,50,.15);
  transform: translateY(-10px);
}
.mainarticle--half:nth-of-type(1),
.mainarticle--half:nth-of-type(2){
  margin-top: 0;
}

.mainarticle--half .mainarticle__articleheader{
  width: 50%;
  padding: 40px;
  display: block;
}
.mainarticle--half .mainarticle__articleheader h1,
.mainarticle--half .mainarticle__articleheader a{
  width: 100%;
  display: inline;
  margin-bottom: .2em;
  float: left;
  clear: right;
}
.mainarticle--half figure{
  width: 50%;
}
.mainarticle__articleheader{
  width: 50%;
  display: flex;
  align-items: center;
  background: white;
  padding: 80px;
}

.mainarticle__articleheader h1{
  margin-bottom: .2em
}
.mainarticle__articleheader__list{
  width: 100%;
}
.mainarticle__articleheader__list li{
  display: inline;
}
.mainarticle__articleheader__list li a{
  transition: .2s cubic-bezier(.3,.53,.99,.76);
  border-bottom: 2px solid white;
}
.mainarticle__articleheader__list li a:hover{
  border-bottom: 2px solid red;
}
.mainarticle__articleheader__list li:after{
  content: " -";
  margin: 0 5px;
}
.mainarticle__articleheader__list li:last-child:after{
  content: "";
}

.mainarticle__articlebody{
  width: 50%;
  padding: 60px 80px;
  background: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.mainarticle__articlebody p{
  width: 80%;
}

.mainarticle__articlebody__inner{
  width: 100%;
}
.mainarticle__articlebody__inner a{
  transition: .2s cubic-bezier(.3,.53,.99,.76);
  opacity: .8;
}
.mainarticle__articlebody__inner a:hover{
  opacity: 1;
}
.mainarticle__articlebody__inner a span{
  transition: .2s cubic-bezier(.3,.53,.99,.76);
  display: inline-block;
  transform-origin: left center;
}
.mainarticle__articlebody__inner a:hover span{
  transform: scale(1.7) translateX(5px);

}
.mainarticle__articlebody__inner p{
  margin-bottom: 10px;
}
.mainarticle__image{
  width: 100%;
  line-height: 0;
}

.mainarticle__image img{
  width: 100%;
}

.mainfooter{
  width: 100%;
  position: relative;
  opacity: .5;
  padding: 20px 40px 40px;
  color: #333;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .2s cubic-bezier(.3,.53,.99,.76);
  animation: fadeInTopFooter .6s;
}
.mainfooter:hover{
  opacity: 1;
}
.mainfooter svg{
  display: block;
  width:150px;
}

.mainfooter rect, .mainfooter .st0{
  fill: #000;
  stroke: none;
}

.mainfooter .st1{
  fill: #fff;
  stroke: none;
}


.left{
  float: left;
}
.right{
  float: right;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@keyframes pulse {
    0% {background: #CBEDB6;}
    40% {background: #D9F9C5;}
    70% {background: #EEFFE4;}
    90% {background: #BFF3A0;}
}


@keyframes fadeInTop {
    from {transform: translateY(70%); opacity: 0;}
    to {background: translateY(0%); opacity: 1;}
}


@keyframes fadeInTopFooter {
    from {transform: translateY(70%); opacity: 0;}
    to {background: translateY(0%); opacity: .5;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}



@media (max-width:768px){
  .mainfooter,
  .mainarticle__articlebody,
  .mainarticle__articleheader{
    width: 100%;
  }
  .mainarticle__articlebody,
  .mainarticle__articleheader{
    padding: 30px 30px 0;
  }
  .mainarticle__articlebody{
    padding-bottom: 30px;
  }

  .otherarticles__header{
    font-size: 1em;
  }

  .otherarticles{
    padding: 30px;
  }
  .mainarticle--half{
    width: 99%
  }
  .mainarticle--half .mainarticle__articleheader{
    width: 100%;
  }
  .mainarticle--half figure{
    width: 100%;
  }
  .mainarticle--half{
    margin-bottom: 30px;
  }
  .mainfooter__waaglogo{
    display: none;
  }
  .mainfooter{
    display: block;
    padding: 0 30px 30px;
    font-size: .875em;
    left: 0;
  }
  .mainheader__nav{
    padding: 30px;
  }
  .mainheader__title{
    left: 40px;
    display: block;
    transform: none;
    max-width: 80%;
    font-size: 1.5em;
  }
}
