body {
  background-color: white;
}

* {
	margin: 0;
	padding: 0;
}

span {
	width: 125px;
	position: relative;
}

div#centered {
	height: 100%;
	width: 100%;
	position: fixed;
	display: table;
}

div#centered p {
	display: table-cell;
  vertical-align: middle;
}

div#centered p img {
	display: block;
	margin-left: auto;
  margin-right: auto;
}
